<div class="container">
  <div class="container-fluid">
    <br/>
    <h3><%=@title%></h3>
    <div class="jumbotron">
      <h3><%=@post.title%></h3>
      <p><%=@post.body%></p>
    </div>
  </div>
</div>
